
.open-sans-normal-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
}
.dark-03{
    color: #757575;

}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
}
.text-center{
    text-align: center;
}
/* Nav style */
.header{
    background-image: url("images/developer.png"), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}
.nav-tittle{
    font-weight: 800px;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

nav li a{
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

/* Banner style */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;

}
.baner-content{
    max-width: 585px;
}
.title-gretings{
    font-size: 45px;
    font-weight: 600;
}
.tittle-heading{
    font-size: 80px;
    font-weight: bold;
}

.banner-profile-pic{
    width: 580px;
    
}
/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
/* section style */
.section-tittle{
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.section-description{
    color: #757575;
}
.about{
    padding: 130px 155px;
    border-radius: 10px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-tittle{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}

/* What do i section */

.skills-container{
    display: flex;
    gap: 24px;

}
.text-center{
    text-align: center;
}
.skill{
    
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.25);
}
.skills-tittle-des{
    padding: 50px 100px;

}
.skill-description{
    text-align: left;
}

/* summery section */
.resume-content-heading{
    font-size: 30px;
    font-weight: bold;
}
.resume-container{
    display: flex;
    padding: 20px;
}
.resume-content{
    margin-left: 25px;
    text-align: left;
}

.degree-tittle{
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.institute-name{
    font-size: 20px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}
.activity-des{
    font-size: 15px;
    color: rgba(117, 117, 117, 1);

}

/* Footer section  */

footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

.footer-column-tittle{
    font-size: 35px;
    font-weight: bold;
}
.footer-content{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    display: block;
    height: 64px;
    border-radius: 5px;
    background-color: white;
    padding: 18px 30px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
